.container {
	position: relative;
	width: 520px;
	height: 810px;
	padding: 12px 20px;
	background: #ffffff;
	margin-top: 6px;
	box-shadow: 0px 71px 251px rgba(123, 142, 163, 0.07), 0px 29.6621px 114.189px rgba(123, 142, 163, 0.0529135),
		0px 15.8588px 57.9577px rgba(123, 142, 163, 0.0470784), 0px 8.8903px 26.676px rgba(123, 142, 163, 0.0426209),
		0px 4.72157px 9.28936px rgba(123, 142, 163, 0.0373072), 0px 1.96475px 1.20887px rgba(123, 142, 163, 0.028439);
	border-radius: 10px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
}

.tabNoti {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttonNoti {
	cursor: pointer;
	user-select: none;
	display: flex;
	width: 100px;
	height: 38px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
	color: #000;
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
	transition: 0.3s;

	&.active {
		color: #4979d1;
		background: #e8f3ff;
		box-shadow: 0 2px 0 rgba(5, 138, 255, 0.06);
	}
}
.d_flex_tab {
	display: flex;
	align-items: center;
	gap: 6px;
}

.textRead {
	color: #4979d1;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	cursor: pointer;
	user-select: none;
	transition: 0.3s;

	&:active {
		transform: scale(0.9);
	}
}

.item {
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	padding: 6px 8px;
	border-radius: 6px;
	gap: 8px;
	transition: 0.3s;

	& + .item {
		margin-top: 4px;
	}

	&:hover {
		background: #ebeaea;
	}

	&.active {
		background: #ebeaea;
	}

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.text {
		font-weight: 300;
		font-size: var(--size-text);
		color: #303c4f;
	}
}

.main {
	flex: 1;
	overflow: auto;
}

.empty {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
