.global-color {
  --light: #fff;
  --dark: #000;
  --primary: #4979d1;
  --grey: #ccc;

  --bg-main: linear-gradient(135deg, rgb(71, 120, 209) 29%, rgb(247, 170, 248) 100%);
  --bg-grey: rgba(255, 255, 255, 0.2);
  --bg-blue: #4979d1;
  --bg-grey-2: #E0E0E0
  --bg-grey-3: #DCDFE6

  --border-grey: #dcdfe6;
  --danger: #e45454;
  --orange: #f17f4d;


  --light-primary: rgb(87, 85, 255, 0.1);
  --light-primary-gradient: linear-gradient(180deg, #9d7f4c 0%, rgba(37, 37, 37, 0) 100%)

  --blue: rgba(49, 106, 216, 1);

  --purple: rgba(203, 54, 255, 1);
  --dark-purple: rgba(142, 89, 255, 1);
  --light-purple: rgba(203, 54, 255, 0.1);

  --warning: rgb(247, 160, 0);
  --light-warning: rgba(251, 165, 0, 0.1);

  --danger: #F85050;
  --light-danger: rgba(242, 77, 77, 0.1);

  --green: rgba(24, 188, 60, 1);
  --light-green: rgba(11, 204, 111, 0.1);

  --light: #ffffff;
  --dark: #141414;
  --dark-2: #1B1B1B;

  --grey-2: #E0E0E0;

  --light-grey: #f4f5f6;

  --orange-light: rgba(248, 190, 158, 1);
  --orange-light-gradient: linear-gradient(180deg, #F8BE9E 0%, #FFE4D6 0.01%, #FFDDCA 100%);

  --border-grey: #ccc;
}
