$heightHeader: 60px;
$heightMenuTab: 52px;
$heightFooter: 48px;
$paddingSides: 12px;

$widthSideBar: 240px;
$widthSideCall: 76px;

$widthTablet: 1200px;
$widthMobile: 768px;

$low-widthMobile: 480px; // Low mobile
