.containner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	background-color: #ffffff;
	border: 1px solid #efefef;
	border-radius: 28px;
	padding: 4px 8px;
	font-size: var(--size-text);

	&:hover {
		background-color: rgba(244, 244, 244, 0.5);
		border: 1px solid #ffffff;
	}

	.arrow {
		transition: 0.3s;
	}

	&.active {
		box-shadow: 0px 0px 0px 1px rgba(42, 133, 255, 0.25);
		border: none;

		.arrow {
			color: rgba(42, 133, 255, 0.25);
			transform: rotate(180deg);
		}
	}
}

.style2 {
	height: 42px;
	display: grid;
	grid-template-columns: 20px 1fr;
	align-items: center;
	background: #f4f5f6;
	border: 1px solid transparent;
	border-radius: 4px;
	max-width: 100%;
	min-width: 50%;
	font-size: var(--size-title);
	padding: 8px 16px;
	font-weight: var(--font-weight);
	cursor: pointer;
	gap: 12px;
	border-radius: 8px;
	color: #000;
	transition: 0.3s;

	&:hover {
		border: 1px solid var(--primary);
		background: var(--light-primary);
	}

	&.focus {
		border: 1px solid var(--primary);
		background: var(--light-primary);
	}
}
