.container {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;

	.item_image {
		position: relative;
		// width: 116px;
		// height: 116px;
		overflow: hidden;
		border-radius: 8px;

		.image_sick {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.count {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: var(--size-title-components);
}

.delete {
	position: absolute;
	z-index: 10;
	top: 6px;
	right: 6px;
	width: 28px;
	height: 28px;
	background: #ffffff;
	box-shadow: 0px 37px 48px rgba(82, 103, 118, 0.04), 0px 12px 16px rgba(82, 103, 118, 0.03), 0px 8px 10px rgba(82, 103, 118, 0.02),
		0px 6px 4px rgba(82, 103, 118, 0.03), 0px 4px 2px rgba(82, 103, 118, 0.0249673), 0px 2px 1px rgba(82, 103, 118, 0.0196587);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #8496ac;
	transition: 0.3s;

	&:hover {
		color: red;
	}

	&:active {
		transform: scale(0.9);
	}
}
